@model ShapeViewModel<DummyLinkTreeNode>

@{
    string linkText = Model.Value.LinkText;
    string linkUrl = Model.Value.LinkUrl;
}

<h5>@T["Dummy Link"]</h5>
<code>Link text: @linkText --  Link url: @linkUrl</code>
