@model ShapeViewModel<LinkTreeNode>

@{
    string linkText = Model.Value.LinkText;
    string linkUrl = Model.Value.LinkUrl;
    bool enabled = Model.Value.Enabled;
}

<h5 class="@(enabled ? "" : "text-muted")">
    @T["Link"]
    @if (enabled == false)
    {
        <span class="text-muted font-italic">(@T["Disabled"])</span>
    }
</h5>
<code>@linkText: @linkUrl</code>
